* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0e9e9;
}

h1, h2, h3, h4, h5, h6 {
    font-family:'Courier New', Courier, monospace;
}
h2, h3 {
    padding: 10px 0px;
    background-color: rgb(31, 73, 209);
    text-align: center;
}

a {
    color: rgb(164, 53, 53);
    font-size: 20px;
}

h1 {
    color: rgb(24, 24, 24);
    text-align: center;
}

h2{
    color: rgb(11, 2, 51);
   /* margin-left: 50px; */
   /* padding-left: 50px; */
   text-align: center;
}

img{
    width: 150px;
    height: 100px;
    border: 1px dashed red;
    border-radius: 50%;
}

ul, ol {
    color: rgb(48, 20, 148);
    padding-left: 40px;
}

ul li, ol li {
    margin-bottom: 20px;
    padding: 10px 20px;
}

footer {
    background-color: rgb(50, 84, 196);
}
.grid-item p {
    padding: 10px;
    line-height: 22px;
}

.grid-container {
    border: 1px dashed white;
    display: grid;
    grid-auto-flow: column;
}


.grid-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.grid-item3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-item4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#jsLogo, #htmlLogo {
    margin-left: auto;
    margin-right: auto;
}

.grid-item {
    border: 1px dashed white;
}

.reveal-me {
    display: none;
}

@media screen and (max-width: 800px) {

    .grid-container {
        grid-auto-flow: row;
    }

    .grid-item3 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .grid-item4 {
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 1;
    }

}